<div class="contenedor-tecnologias">
<div class="row justify-content-md-center align-content-center text-center">
        <div class="col col-3 bg-white stack-left habilidades">
        <i class="bi bi-hdd-fill icono"></i>
        <h3>Back-end</h3>
        <p>Aprendo las tecnologías como NodeJS,Express,Mongo en las cuales intento mejorar cada día.</p>
        <p class="text-primary cabecera">
            Stack
        </p>
        <p>NodeJS, ASP.NET core, Express.</p>
        <p class="text-primary cabecera">Experiencia</p>
        <ul>
            <li>NodeJS</li>
            <li>Express</li>
            <li>ASP.NET core</li>
            <li>Blazor</li>
        </ul>
    </div>
        <div class="col col-3 bg-white stack-right habilidades">
            <i class="bi bi-code-slash icono"></i>
            <h3>Front-end</h3>
        <p>Aprendo las tecnologías como Angular, ASP.NET core, Bootstrap, Angular Material en las cuales intento mejorar cada día.</p>
        <p class="text-primary cabecera">
            Stack
        </p>
        <p>Angular, ASP.NET core, Bootstrap, Angular Material</p>
        <p class="text-primary cabecera">Experiencia</p>
        <ul>
            <li>Angular</li>
            <li>ASP.NET core</li>
            <li>Bootstrap</li>
            <li>Angular Material</li>
            <li>SaaS</li>
            <li>Tailwind</li>
        </ul>
    </div>
    </div>
</div>
