@Model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top:6rem;">
        <h1>Mis trabajos recientes</h1>
        <p>Aquí puedes ver algunos los trabajos que he podido realizar.</p>
    </div>

    <partial name="_listadoProyectos" model="Model"/>

}