@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <div class="row">
        <h1>Proyectos</h1>
        <hr />
        <p>Estos son los proyectos en los que he trabajado durante los últimos tres meses.</p>
    </div>
</div>

<partial name="_listadoProyectos" model="Model" />
